#game-over-modal {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 600;
}

.go-content {
	color: white;
	// text-shadow: 1px 1px 4px gold;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 20px;
	padding: 10em;
}

.go-content > ul {
	font-family: 'Space Mono', sans-serif;
	font-size: 1.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.go-content li {
	cursor: pointer;
	margin: 5px;
}

.go-title {
	font-size: 4vw;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 0.3vw;
	text-indent: 0.3vw;
	text-transform: uppercase;
	color: rgb(255, 6, 6);
}
