#game-over-modal {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 600;
}

.go-content {
	color: white;
	background: rgba(26, 26, 26, 0.9);
	border-radius: 20px;
	padding: 4em;
}

.go-content > ul {
	font-family: 'Space Mono', sans-serif;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.go-content li {
	cursor: pointer;
	margin: 5px;
	transition: 0.2s ease-in-out;
}

.go-content li:hover {
	color: gold;
}

.go-title {
	font-size: 4vw;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 0.3vw;
	text-indent: 0.3vw;
	text-transform: uppercase;
	color: rgb(255, 6, 6);
}
