#how-to-page {
	display: none;
	justify-content: center;
	align-items: center;
}

.how-to-content {
	color: rgb(26, 26, 26);
	z-index: 100;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	padding: 5em;
	opacity: 0;
	animation: fadeIn 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#how-title {
	font-size: 3vw;
	font-family: 'Archivo Black', sans-serif;
	letter-spacing: 0.3vw;
	text-indent: 0.3vw;
	text-transform: uppercase;
	text-align: center;
}

.how-to-content ul {
	font-family: 'Space Mono', sans-serif;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}

.how-to-content .hp-social-links {
	margin-top: 40px;
	justify-content: center;
}

.how-to-content h3 {
	font-family: 'Space Mono', sans-serif;
}

.how-to-content li {
	margin: 5px;
}

.how-to-content > span {
	font-family: 'Space Mono', sans-serif;
	font-size: 20px;
	align-self: left;
	cursor: pointer;
}

.how-to-content a {
	font-size: 1.5em;
}

#go-back-btn {
	transition: 0.2s ease-in-out;
}

#go-back-btn:hover {
	font-weight: bold;
}