#how-to-page {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.how-to-content {
  color: rgb(26, 26, 26);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 2.5em;
  margin: 50px;
  max-height: 90%;
  opacity: 0;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#how-title {
  font-size: 3em;
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.how-to-content ul {
  font-family: "Space Mono", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.how-to-content h3 {
  font-family: "Archivo Black", sans-serif;
  margin-top: 15px;
  font-weight: bold;
}

.how-to-content .hp-social-links {
  margin-top: 40px;
  justify-content: center;
}

.how-to-content li {
  margin: 5px;
}

.how-to-content a {
  font-size: 1.5em;
}

#go-back-btn {
  font-family: "Space Mono", sans-serif;
  cursor: pointer;
}

#go-back-btn:hover {
  text-shadow: 0 0 0.01px black;
}
