#canvas {
	border: 5px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700;
	height: 500;
	transform: translate(-50%, -50%);
	background: url(../assets/images/water/water.jpg);	
}

// .bubble {
// 	background: url(../assets/images/water/bubble.png);
// }
