@import "./styles/pause-modal.scss";
@import "./styles/reset.scss";
@import "./styles/home-page.scss";
@import "./styles/game-over.scss";
@import "./styles/how-to-play.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: none;
  height: 100%;
  width: 70%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(26, 26, 26);
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1d1c1d85;
  border-radius: 20px;
  height: 100px;
  transform: translateY(224px);
  opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
  transition: opacity 0.1s 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#canvas {
  border: 3px solid rgba(26, 26, 26, 0.503);
  border-radius: 10px;
  margin-top: 20px;
}

#canvas-container {
  position: relative;
}

#player-stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  position: absolute;
  top: 5%;
  left: 65%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mute-info-container {
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  max-width: 200px;
  font-family: "Space Mono", sans-serif;
}

.instructions-info {
  margin-bottom: 10px;
}

#score {
  font-family: "Space Mono", sans-serif;
  color: gold;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

#lives {
  font-family: "Space Mono", sans-serif;
  color: rgb(179, 0, 0);
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  font-size: 35px;
}

#mute-game,
#unmute-game {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 35px;
}

#mute-game {
  margin-right: 5px;
}

#alert-msg-container {
  display: none;
  position: absolute;
  top: 40%;
  z-index: 5;
  flex-direction: column;
  align-items: center;
}

#alert {
  color: rgb(179, 0, 0);
  font-weight: bold;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  text-shadow: 1px 1px 2px black;
}

#alert-message {
  font-family: "Space Mono", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 25px;
}
